.order{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.main-order{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.order-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}
.order-section h1{
    color: rgb(52, 83, 12);
    border-bottom: 5px solid rgb(181, 132, 185);
    margin: 20px;
}
.order-section form{
    width: 95%;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
   background-color:rgb(181, 177, 243);
    justify-content: center;
    align-items: center;
}
.order-section form input{
    padding: 5px;
     width: 90%;
     margin-bottom: 10px;
     border-bottom: none;
     border: 1px solid brown;
     border-radius: 5px;
}

/* Make it responsive */
@media only screen and (max-width:688px) {
    .order-container{
        grid-template-columns: repeat(1, 1fr);
    }
}
@media only screen and (min-width:689px) and (max-width: 991px){
    .order-container{
        grid-template-columns: repeat(2, 1fr);
    }
}